<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>User List</h1>
        <p>Below is the list of users in the database:</p>
        <ul class="user-list">
            <% users.forEach(user => { %>
                <li>
                    <span><%= user.name %> - <%= user.password %> - <%= user.phone %> (ID: <%= user.id %>)</span>
                    <span class="user-actions">
                        <a href="/users/<%= user.id %>/edit">Edit</a>
                        <a href="/users/<%= user.id %>/delete" onclick="return confirm('Are you sure?')">Delete</a>
                    </span>
                </li>
            <% }) %>
        </ul>
        <div class="api-list">
            <p>Test the API:</p>
            <ul>
                <li><a href="/users/1">GET /users/1</a> - Get user with ID 1</li>
                <li><a href="/users/2">GET /users/2</a> - Get user with ID 2</li>
            </ul>
        </div>
    </div>
</body>
</html>